
table.parrafos{
 border-collapse: collapse;
}                   

div.parrafos{

 border: 2px solid #000000;
 max-width: 800px; /*Cuando se utilicen distancias absolutas, usar max-width según sea conveniente. */ 
 padding: 50px;
 position: relative;
 box-sizing: border-box;
 left: 18%;
 top: 30vh;
 
}


#parrafo1{ /*La línea de id únicos, basta con llamar al id, */
 border: 2px solid rgb(11, 9, 102);
 /*border-width y border-style*/
}

#parrafo2{
 border: 2px solid rgb(104, 6, 6);
}


/*Estilo para el header-menu horizontal.*/
header h1{
 
 display: inline;
 padding:0px 20px ;
 
}

header nav,header nav ul,header nav ul li{
 display: inline;
}

header{
 border: 2px solid black;
 position: relative;
}
/*
header nav{
 border: 2px solid black;
 position: absolute;
 right: 5px;
 top:10px
}
*/

/*visibility hidden vs display none; la diferencia está en que visibility hidden me mantiene el espacio dejado por el objeto, en cambio display:none, desparece el objeto completamente, quitándolo del renderizado.*/

header nav{
 position: absolute;
 right: 5px;
 top: 5px;
}



#contenido1,#contenido2,#contenido3{
 border: 2px solid black;
 display: inline;
 padding: 0px 20px;
 margin: 0px 30px
}





